body {
    margin: 0;
	background: linear-gradient(45deg, rgb(120, 178, 229), rgb(0, 0, 0));
	font-family: sans-serif;
	font-weight: 100;
    min-height: 100%;
}

html {
    min-height:100%;
}


/* CSS for the Nav Bar */
/* NEED TO HIGHLIGHT CURRENT PAGE I AM ON */

a {
    color: black;
    text-decoration: none;
    font-size: 40px;
    font-weight:bold;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
} 

a:hover {   
    color:white;
}

#navbar {
    background-color: rgba(255, 255, 255, 0.496);
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .5vw;
    margin-left: .5vw;
    margin-right: .5vw; 
    border-radius: 20px;

} 

#navbarwrap {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

/* For the playlist title */

h1 {
    color: white;
    display:block;
    font-size: 60px;
    margin-top: 8vw;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-weight:bold;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    text-align: center;

} 


/* Table code */

#songslist {
    visibility: hidden;
    display: flex;
    width:100vw;
    background-color: black;
    justify-content: center;
    margin-top: 1vw;

}

 #container {
    visibility:hidden;
    margin-bottom: 5vw;
}


table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

tr {
    -webkit-text-stroke: .75px rgb(255, 255, 255);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}


	th {
		background-color: #ffffffb7;
        color: black;
	}



	tr :hover {
			background-color: rgba(255,255,255,0.3);
		}

	td :hover:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}  

/*  For the playlist name form */

#titleInput {
    visibility: hidden;
    width: 100%;
    display:flex;
    /* height:80%; */
    justify-content: center;
    align-items: center;

}

form {
    background-color: rgba(255, 255, 255, 0.496);
    height: 12vw;
    width: 37vw;
    border-radius: 20px;
    margin-top: 10vw;
	font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    flex-wrap: wrap;

}

label {
    color: black;
  text-decoration: none;
    font-size: 40px;
    font-weight:bold;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    margin-bottom: 1.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

input[type=text] {
    height: 3vw;
    width: 13vw;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin-right: 2vw;
    margin-bottom: .5vw;
}
input[type=submit] {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    width:15vw;
    font-size: 20px;
    cursor: pointer;
    font-weight:bold;
    margin-bottom: .5vw;
    /* border: 2px black; */


}
input[type=submit]:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.157);
    /* font-size: 21px; */

}

#noSongs {
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.496);
    height: auto;
    width: auto;
    border-radius: 20px;
    color: black;
    text-decoration: none;
      font-size: 30px;
      font-weight:bold;
      -webkit-text-stroke: 1.5px rgb(255, 255, 255);
      margin-bottom: 1.5vw;
      padding-left: 2vw;
      padding-right: 2vw;
      padding-top: 1vw;
      padding-bottom: 1vw;
      text-align: center;

}