body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin: 0;
	background: linear-gradient(45deg, rgb(120, 178, 229), rgb(0, 0, 0));
	font-family: sans-serif;
	font-weight: 100;
    /* overflow: auto; */
    min-height: 100%;
}

#navbar {
    background-color: rgba(255, 255, 255, 0.496);
    height: 10vh;
    display: flex;
    align-items: center;
    margin-top: .5vw;
    margin-left: .5vw;
    margin-right: .5vw; 
    border-radius: 20px;

} 

p {
    margin-left: 2vw;
    color: black;
  text-decoration: none;
    font-size: 50px;
    font-weight:bold;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

p:hover {   
    color:white;
}
    

#userinputs {
    display: flex;
    justify-content:center;
    height:90vh;
    align-items: flex-start;
}

.box {
    margin: 1.5vw;
    background-color: rgba(255, 255, 255, 0.496);
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 5%;
    -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
    margin-top: 8.5vw;
    /* padding-top:3vw */

    

}

#log {
    height: 19.5vw;
    
}

#create {
    height: 30vw;
}

input[type=text], input[type=password] {
    background-color: rgba(255, 255, 255, 0);
    height: 2.5vw;
    width: 18vw;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    margin-top: 2px;
    font-size: 20px;
}

input[type=text]:hover, input[type=password]:hover {
    background-color: rgb(255, 255, 255);

}

label {
    /* font-weight:600 */
    /* color:white */
    font-style: bold;
	font-family: sans-serif;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

label:hover {
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
}

#createTitle {
    color: black;
    text-decoration: none;
    font-size: 35px;
    font-weight:bold;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    margin-bottom:1vw;
}
#createTitle:hover {
    color:white;
}

#loginTitle {
    color: black;
    text-decoration: none;
    font-size: 35px;
    font-weight:bold;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    margin-bottom:1vw;
}
#loginTitle:hover {
    color:white;
}

button {
    height: 3vw;
    margin-left: 1.5vw;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    width:15vw;
    font-size: 20px;
    cursor: pointer;
    font-weight:bold;
    margin-bottom: .5vw;
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.157);


}

/* form {
    display: flex;
} */