/* General Styling */

body {
    margin: 0;
	background: linear-gradient(45deg, rgb(120, 178, 229), rgb(0, 0, 0));
	font-family: sans-serif;
	font-weight: 100;
    min-height: 100%;
}

html {
    min-height:100%;
}

/* Navbar */

a {
    color: black;
  text-decoration: none;
    font-size: 40px;
    font-weight:bold;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
} 

a:hover {   
    color:white;
}

#navbar {
    background-color: rgba(255, 255, 255, 0.496);
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .5vw;
    margin-left: .5vw;
    margin-right: .5vw; 
    border-radius: 20px;

} 

#navbarwrap {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

/* For the readme */

#readme {
    position:absolute;
    background-color: rgba(255, 255, 255, 0.496);
    height:auto;
    width:15vw;
    margin-left: 5vw;
    font-size: 20px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 1vw;
    text-align: center;

}


/* For collapsible content*/

#artists {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapsible {
    position: relative;
    padding-bottom: 0.5em;
    background-color: rgba(255, 255, 255, 0.496);
    width:45vw;
    border-radius: 10px;
    /* padding-left: 1vw;
    padding-right: 1vw; */
    padding: 1vw;
    /* display: flex; */
    min-height: 2.5vw;
    margin-bottom: 2vw;
}

h1 {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight:bold;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    width:max-content;
    position: absolute;
    
}


.collapsible:not(.open) > * {
    display: none;
}

.collapsible:not(.open) > h1:first-child {
    display: block;
}

.collapsible > .toggler {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    /* height: 4vw; */
    /* background: #fff; */
    text-align: center;
    cursor: pointer;
}
.collapsible > .toggler::after {
    content: "\25bc";
}
.collapsible.open > .toggler::after {
    content: "\25b2";
}

.collapsible > .toggler:hover {   
    color:white;
    -webkit-text-stroke: 0 rgb(255, 255, 255);
}

.content {
    height: 10vw;
    display: flex;
    justify-content: space-between;

}

h2 {
    font-size: 20px;

}

.artisttext {
    margin-top: 3.5vw;
    margin-left: 2vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    width: 30vw;
}

img {
    object-fit: cover;
    width:10vw;
    height:10vw;
  }
